* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  padding: 50px 0;
}

.boxes {
  width: 960px;
  display: flex;
  margin: 0 auto;
}

.box {
  width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  margin-right: 30px;
  position: relative;
}
.box:nth-child(3) {
  margin-right: 0;
}

.step {
  color: #fff;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}

.image1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.image2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.image3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

h3 {
  margin: 15px 0 5px 0;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}